#resume {
  padding-top: 8  rem;
  padding-bottom: 12rem;
  background-color: #ebebeb;
  font-family: "poppins", sans-serif;
}

#resume .resume-header h5 {
  color: #ff0077;
  font-size: 1.3rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: 0.4rem;
  text-align: center;
}

#resume .resume-header h1 {
  font-family: "poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #313131;
  text-align: center;
}

#resume .resume-header h2 {
  font-family: "poppins", sans-serif;
  font-size: 1.8rem;
}

#resume .resume-header .lead {
  font-family: "poppins", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.title-work {
  text-align: center;
  color: #ff0077;
  padding-top: 2rem;
  font-size: 20px;
}

.title-proyect {
  display: grid;
}

.p-information1 {
  padding-right: 10rem;
  color:black
}
.p-information2 {
  color:#888888
}

.p-information3 {
  padding-top: 0;
}

#resume .timeline-wrap {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}

#resume .timeline-wrap::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #ebebeb;
  position: absolute;
  left: 35%;
  top: 0;
}

#resume .timeline-block {
  position: relative;
  padding-top: 1.5rem;
}

#resume .timeline-header {
  float: left;
  width: 35%;
  padding-right: 90px;
  text-align: right;
}

#resume .timeline-header h3 {
  margin-bottom: 0;
  font-size: 20px;
  padding-top: 0.4rem;
  color: #ff0077;
}

#resume .timeline-header p {
  font-family: "poppins", sans-serif;
  font-size: 17px;
  color: #888888;
}

#resume .timeline-content {
  margin-left: 40%;
  padding-left: 60px;
  font-size: 20px;
}

#resume .timeline-content h4 {
  position: relative;
  padding-bottom: 1.8rem;
  color: #313131;
}

#resume .timeline-content p {
  font-size: 18px;
  padding-right: 10rem;
}

#resume .timeline-content a {
  text-decoration: none;
  color: #313131;
}

#resume .timeline-content a:hover {
  color: #ff0077;
}

#resume .timeline-content h4::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  #resume .resume-header h5 {
    font-size: 18px;
  }
  #resume .resume-header h1 {
    font-size: 26px;
  }
  #resume .resume-header .lead {
    font-size: 17px;
	padding-left: 10%;
    padding-right: 10%;
  }
  .title-work h2 {
	font-size: 23px;
  }
  #resume .timeline-block {
	display: grid;
	margin-top: 0.4rem;
	margin-bottom: 2rem;
	grid-template-columns: repeat(1, 1fr);
	justify-items: left;
  }
  #resume .timeline-content {
	margin:0;
    padding-left: 10%;
    font-size: 18px;
	text-align: left;
  }
  #resume .timeline-content p{
	padding-right: 10%;
	font-size: 15px;
  }
  #resume .timeline-header {
	text-align: left;
	width: 70%;
	padding-left: 10%;
	padding-right: 0;
  }
  #resume .timeline-header h3 {
	color: black;
  }
}
