#about {
  background: #ffffff;
  padding-top: 5rem;
  padding-bottom: 15rem;
  font-family: "poppins", sans-serif;
}

#about .section-intro {
  margin-bottom: 3rem;
}

h5 {
  color: #ff0077;
  font-size: 1.3rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: 0.4rem;
  text-align: center;
}

h3 {
  color: black;
  font-size: 2rem;
  font-family: "poppins", sans-serif;
}

.about-me {
  color: black;
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}

.intro-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  padding-bottom: 3rem;
}

.img-CV {
  display: flex;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  margin: 0.9rem 0 0 0;
  float: left;
  padding-bottom: 1rem;
  margin-right: 1rem;
}

.intro-info .lead {
  text-align: left;
  display: flex;
  max-width: 50%;
  font-size: 18px;
}

.about-content {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-content: center;
}

.profile p {
  height: 180px;
  text-align: left;
  list-style: none;
  font-size: 1.2rem;
  padding-bottom: 20px;
}
.skills p {
  text-align: left;
  list-style: none;
  font-size: 1.2rem;
  height: 180px;
  padding-bottom: 20px;
}

.info-list,
.skill-bars {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skill-bars ul {
  margin: none;
}

.about-content h3 {
  font-family: "poppins", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.about-content .info-list li {
  padding: 0 0 1.5rem 0;
  margin-bottom: 0.2rem;
}

.about-content .skill-bars li {
  margin-bottom: 0.3rem;
}
.about-content .info-list li span {
  color: #313131;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  line-height: 3rem;
  font-family: "poppins", sans-serif;
}

.about-content .skill-bars li span {
  font-family: "poppins", sans-serif;
  color: #313131;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  line-height: 3rem;
  padding-bottom: 5px;
  display: block;
}

.about-content .skill-bars li a {
  font-size: 1.2rem;
}

.span-div {
  padding-bottom: 1rem;
}
.about-content .info-list li span {
  font-family: "poppins", sans-serif;
  color: #313131;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  line-height: 3rem;
  padding-bottom: 2rem;
}
.about-content .info-list li a {
  display: block;
  font-family: "poppins", sans-serif;
  color: #888888;
  font-size: 1.2rem;
  line-height: 1;
  text-decoration: none;
}

.buttons {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-top: 3rem;
}

.buttonHireMe {
  color: #313131;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  margin-right: 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border: #313131;
  border-style: solid;
  max-width: 100%;
  transition: color 0.3s, border-color 0.3s;
  letter-spacing: 0.2rem;
}

.buttonHireMe:hover {
  color: #ff0077;
  border-color: #ff0077;
}
.buttonCv {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border: #313131;
  background-color: #313131;
  border-style: solid;
  max-width: 100%;
  transition: color 0.3s, border-color 0.3s;
  letter-spacing: 0.2rem;
  margin-right: 3rem;
}

.buttonCv:hover {
  color: #ff0077;
}
@media (max-width: 1024px) {
	.about-content {
		width: 90%;
	}
	.buttons {
		width: 70%;
	}
	.skills p {
		font-size: 18px;
		height: 180px;
	}
	.profile p {
		font-size: 18px;
	}
}
@media (max-width: 768px) {
  #about {
    padding-bottom: 100px;
  }
	h5 {
		font-size: 18px;
	}
	.about-me {
		font-size: 26px;
	}
	.intro-info {
		display: grid;
		justify-items: center;
	}
	.img-CV {
		height: 10rem;
		width: 10rem;
		margin:0 ;
	}
	.intro-info .lead {
		font-size: 17px;
		text-align: center;
		max-width: 80%
	}
	.about-content{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		width: 80%;
	}
	.about-content h3 {
		font-size: 24px;
	}
	.profile p {
		font-size: 17px;
		height: 70px;
		padding-bottom: 5px;
	}
	.about-content .info-list li span {
		font-size: 17px;
	}
	.about-content .info-list li a {
		font-size: 15px;
	}
	.skills p {
		font-size: 16px;
		height: 150px;
	}
	.about-content .skill-bars li a {
		font-size: 15px;
	}
	.about-content .skill-bars li span {
		font-size: 17px;
	}
	.buttons {
		width: 80%;
		align-items: center;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.buttonHireMe {
		margin: 0;
	}
	.buttonCv {
		margin: 0;
	}
}

@media (max-width: 480px) {
	.profile p {
		font-size: 15px;
		height: 100px;
		padding-bottom: 5px;
	}
	.skills p {
		font-size: 15px;
		height: 180px;
	}
}
