
*, *::before, *::after {
    box-sizing: inherit;
}

#intro {
	background: #151515 url(../../assets/intro-bg.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	min-height: 720px;
	display: table;
	position: relative;
	text-align: center;
}

.intro-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111111;
	opacity: .85;
}

.intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-transform: translateY(-2.1rem);
	-ms-transform: translateY(-2.1rem);
	transform: translateY(-2.1rem);
}
.intro-content h1 {
	color: #FFFFFF;
	font-family: "poppins", sans-serif;
	font-weight: 700;
	font-size: 100px;
	line-height: 1.071;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: .6rem;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.intro-content h5 {
	color: #cc005f;
	font-family: "poppins", sans-serif;
	font-weight: 900;
	font-size: 2.3rem;
	line-height: 1.565;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position {
	font-family: "lora-regular", serif;
	font-size: 1.7rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position span {
	display: inline-block;
}
.intro-content .intro-position span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.3);
}
.intro-content .intro-position span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.3);
}
.intro-content .button {
	color: #FFFFFF;
	border-color: rgba(255, 255, 255, 0.3);
	height: 6rem;
	line-height: 5.4rem;
	padding: 0 3.5rem 0 3rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
	transition: 0.3s ease;
	text-decoration: none;
	font-family: "poppins", sans-serif;
	font-weight: 1000;
}
.intro-content .button:hover {
	color: #cc005f;
	transition: color 0.3s ease; 
}

@media (max-width: 1024px) {
	.intro-content h1 {
		font-size: 80px;
	}

	.intro-content h5 {
		font-size: 32px;
	}

	.intro-content .intro-position span {
		font-size: 20px;
	}

	.intro-content .button {
		font-size: 18px;
	}
}

@media (max-width: 768px) {
	.intro-content h1 {
		font-size: 50px;
		margin: 10px;
	}

	.intro-content h5 {
		font-size: 25px;
	}

	.intro-content .intro-position span {
		font-size: 14px;
	}

	.intro-content .button {
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.intro-content h1 {
		font-size: 40px;
		padding: 10px;
	}

	.intro-content h5 {
		font-size: 15px;
	}

	.intro-content .intro-position span {
		font-size: 12px;
	}

	.intro-content .button {
		font-size: 12px;
	}
}